@charset "UTF-8";
*{margin: 0; padding: 0; text-decoration: none; font-family: 'Ubuntu', sans-serif, 'Noto Sans', sans-serif; list-style: none;}

#container{
   width: 100%;
   height:310vh;
   background: #cbd9ef;
}
.profile-main{
	width: 100%;
	height: 130vh;
}
.profile-img{
	margin: 8.5vh 0 0 15%;
	position: absolute;
}
.profile-tt{
	text-align: left;
	margin: 85vh 0 0 15%;	
	position: absolute;
}
.profile-tt > h3{
	font-size: 70px;
	font-family: 'Oswald', sans-serif;
}
.profile-info > span{
	margin: 105vh 0 0 60%;
	position: absolute;
}
.profile-mem{
	width: 97%;
	height:146.4vh;
	padding: 0 0 0 3%;
	margin: 130vh 0 0 0;
	background-color: rgba(25,25,25,0.1);
}
.member{
	width: 350px;
	height: 350px;
	text-align: center;
	line-height: 350px;
	float: left;
}
.member > h1{
	font-size: 30px;
}
.mem-bg{
	margin: 0 0 0 348px;
}
.mem-th{
	margin: 0 0 0 350px;
}
.mem-hk{
	margin: 0 0 0 348px;
}
.member-info{
	width: 100%;
	height: 99.7vh;
	background-color: rgba(25,25,25,0.7);
	position: absolute;
	top: 0;
	margin: 135vh 0 0 0;
}
.img-sb{
	float: left;
}
.info-sb{
	width: 80%;
	height: 60vh;
	padding: 39vh 0 0 20%;
}
.mem-info{
	padding: 0 0 0 40%;
	color: white;
	font-size: 14px;
}
.name-sb{
	font-size: 18px;
	padding: 0 0 4vh 40%;
}
.mem-info > ul > li{
	padding: 0 0 1vh 0;
}
.info-back {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 40px solid white;
    border-bottom: 20px solid transparent;
}


.footer-family-hover{
	position: absolute;
	width: 20%;
  	height: 128px;
  	top: 0;
  	margin: 294vh 0 0 40%;
  	background-color: #202020;
  	text-align: center;
}