@charset "UTF-8";
*{margin: 0; padding: 0; text-decoration: none; font-family: 'Noto Sans KR','Blinker','Roboto', sans-serif; list-style: none;}

#container{
	width: 100%;
	height: 93vh;
	background: linear-gradient(90deg, #74cafe 50%, #ffffff 50%);
}
.main-left{
	float: left;
}
.main-right{
	margin: 0 0 0 50%;
}
.main-left-box{
	width: 50%;
	height: 93vh;
	position: absolute;
	top: 0;
}
.main-left-in{
	width: 100%;
	height: 10vh;
	color: white;
	font-size: 18px;
	margin: 2vh 0 0 35%;
}
.left-in-up{
	margin: 30vh 0 0 35%;
}
.main-left-p{
	margin: 0 0 0 2%;
}
.main-right-text{
	width: 100%;
	height: 48vh;
	font-size: 30px;
}
.text-in{
	padding: 20vh 0 0 26%;
}
.main-right-button{
	width: 100%;
	height: 30vh;
}
.right-text{
	padding: 0 0 0 26%;
}
.button-join{
	width: 50%;
	height: 5vh;
	background-color: #12a6fe;
	border-radius: 30px;
	margin: 3vh auto;
	text-align: center;
	line-height: 5vh;
	color: white;
}
.button-join:hover{
	background-color: rgba(1,137,218,0.8)
}
.join-text{
	color: white;
}
.button-login{
	width: 50%;
	height: 5vh;
	border: 1px solid #12a6fe;
	border-radius: 30px;
	margin: 0 auto;
	text-align: center;
	line-height: 5vh;
	color: #0195ed;
}
.button-login:hover{
	background-color: rgba(18,166,254,0.1)
}
.login-text{
	color: #0195ed;
}
#footer{
	width: 100%;
	height: 6vh;
}
.footer-box{
	width: 100%;
	height: 6vh;
	line-height: 6vh;
	float: left;
	font-size: 13px;
}
.footer-ul{
	margin: 0 0 0 10%; 
}
.footer-li{
	float: left;
	margin: 0 0 0 1.5%;
	color: gray;
}
.footer-li > a{
	color: gray;
}