<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.pledis.svt.member.MemberMapper">
    
    <select id="getMemberId" parameterType="MemberVO" resultType="MemberVO">
    	select id from member where id=#{id}
    </select>
    
	<insert id="setInsert" parameterType="MemberVO">
		insert into member(id, pw, name, age, email) 
		values(#{id}, #{pw}, #{name}, #{age}, #{email})
	</insert>
	
	<select id="getMemberLogin" parameterType="MemberVO" resultType="MemberVO">
		select id, name from member
    	where id=#{id} and pw=#{pw}
	</select>
	
	<delete id="setMemberDelete" parameterType="MemberVO">
    	delete member from member where id=#{id}
	</delete>
   
    </mapper>