<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.pledis.svt.twitterMember.TwitterMemberMapper">
    
    <select id="getMemberId" parameterType="TwitterMemberVO" resultType="TwitterMemberVO">
    	select id from twitterMember where id=#{id}
    </select>
    
	<insert id="setInsert" parameterType="TwitterMemberVO">
		insert into twitterMember(id, pw, name, phone, birth) 
		values(#{id}, #{pw}, #{name}, #{phone}, #{birth})
	</insert>
	
	<select id="getMemberLogin" parameterType="TwitterMemberVO" resultType="TwitterMemberVO">
		select id, name from twitterMember
    	where id=#{id} and pw=#{pw}
	</select>
	
	<delete id="setMemberDelete" parameterType="TwitterMemberVO">
    	delete twitterMember from twitterMember where id=#{id}
	</delete>
   
    </mapper>